.card__container {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.font_image-page {
    width: 100%;
    height: 250px;
    background-image: url("/images/portada.png");
    background-size: cover;
    background-position: center;
}

.searcher {
    margin: 4em;
    text-align: center;
    border-color: white;
}

.form {
    text-align: center;
    margin: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    border: none;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}

.main__button {
    flex-shrink: 0;
    color: white;
    background-color: #88bd1f;
    border: none;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-top: 1em;

}

.error_Message {
    text-align: center;
    font-size: 2em;
}

@media (min-width: 768px) {
    .searcher {
        margin: 4em;
    }

    .form {
        margin: 1em auto;
        /* Cambiado para un margen más pequeño */
    }

    input,
    .main__button {
        width: calc(50% - 20px);

        max-width: none;
        /* Eliminado el máximo ancho */
    }

    .error_Message {
        font-size: 3em;
    }
}